extends layout

block content
  .row
    .col-md-10.col-md-offset-1
      .col-md-4
        img.img-responsive(src="https://uploads4.wikiart.org/images/m-c-escher/drawing-hands.jpg!Large.jpg")
      .col-md-8
        h2.no-top= title
        p Have you ever wondered what you would look like as a Picasso painting? Or what a "Starry Night Trump" would look like?
        p.bold Well wonder no more!
        p Using the technique of 
          span.italic style transfer
          span , p
          span.red AI
          span nt applies machine learning to generate horribly awesome pictures from your very own.
        p It's an unique way to be uniquely you - like you've never been before. 
        p Painting for fun - for parties - for posting on friend's Facebook walls and making fun of - anything you want, we can do. 

  .row.blue.pin
    .col-md-10.col-md-offset-1
      p Some explanation behind the buzzwords you might have been hearing...
      p.italic Machine Learning
      p Born from artificial intelligence, machine learning means creating algorithms that find patterns in data, which can then be used to analyze new data.
      p.italic Neural Networks
      p Neural Networks are based on the way biological nervous systems process information. These networks are composed of clusters of artificial neurons that receive input, recognize patterns, and classify or transform data.