extends layout

block content
  h1= title
  p 
    ul(class="demo-list-three mdl-list")
      li
        a(href="https://github.com/GabrielAlacchi") Gabriel Alacchi
      li
        a(href="https://github.com/rfratila") Robert Fratila
      li
        a(href="https://github.com/DavidLi-Minxiao") David Li
      li
        a(href="https://github.com/aywscott") Alice Scott
   