extends layout

block content
  h1= title
  p 
    ul
      a(href="https://github.com/GabrielAlacchi") Gabriel Alacchi
    ul
      a(href="https://github.com/rfratila") Robert Fratila
    ul
      a(href="https://github.com/DavidLi-Minxiao") David Li
    ul
      a(href="https://github.com/aywscott") Alice Scott
 