extends layout

block content
  .row
    .col-md-8.col-md-offset-2
      h2= title

  .row
    .col-md-10.col-md-offset-1
      .col-lg-3.col-md-6
        a(href="https://github.com/GabrielAlacchi")
          img.img-circle.img-responsive(src="./images/gabriel_feathers.jpg")
          p.text-center Gabriel Alacchi
          p.small.text-center "Don't ask me how this works, but it works."
      .col-lg-3.col-md-6
        a(href="https://github.com/rfratila")
          img.img-circle.img-responsive(src="./images/robert_composition_vii.jpg")
          p.text-center Robert Fratila
          p.small.text-center "You gotta pull first before you push."
      .col-lg-3.col-md-6
        a(href="https://github.com/DavidLi-Minxiao")
          img.img-circle.img-responsive(src="./images/david_mosaic.jpg")
          p.text-center David Li
          p.small.text-center "I thought this was COMP 202."
      .col-lg-3.col-md-6
        a(href="https://github.com/aywscott") 
          img.img-circle.img-responsive(src="./images/alice_cubist.jpg")
          p.text-center Alice Scott
          p.small.text-center "How do you exit Vim???"