extends layout

block content
  .row.no-bottom
    h2= title

  .row
    .col-lg-4.col-sm-6
      div(class="img")
        a(target="_blank", href="http://placehold.it/350x300")
        img( src="/images/hotel.jpg", class="example-image", width="350px", height="300px")
        div(class="description") The Scream + Hotel
    .col-lg-4.col-sm-6
      div(class="img")
        a(target="_blank", href="http://placehold.it/350x300")
        img( src="/images/lake.jpg", class="example-image", width="350px", height="300px")
        div(class="description") The Cubist Filter
    .col-lg-4.col-sm-6
      div(class="img")
        a(target="_blank", href="http://placehold.it/350x300")
        img( src="/images/food.jpg", class="example-image", width="350px", height="300px")
        div(class="description") La Muse
    .col-lg-4.col-sm-6
      div(class="img")
        a(target="_blank", href="http://placehold.it/350x300")
        img( src="/images/skyline.jpg", class="example-image", width="350px", height="300px")
        div(class="description") Wave Filter
    .col-lg-4.col-sm-6
      div(class="img")
        a(target="_blank", href="http://placehold.it/350x300")
        img( src="/images/cat.jpg", class="example-image", width="350px", height="300px")
        div(class="description") Udnie Filter
    .col-lg-4.col-sm-6
      div(class="img")
        a(target="_blank", href="http://placehold.it/350x300")
        img( src="/images/flower.jpg", class="example-image", width="350px", height="300px")
        div(class="description") Stunning Use of La Muse