extends layout

block content
  h1= title
  p Welcome to #{title}
  
  div(class="img")
    a(target="_blank", href="http://placehold.it/350x300")
    img( src="http://placehold.it/350x300", class="example-image")
    div(class="description") Description Here

  div(class="img")
    a(target="_blank", href="http://placehold.it/350x300")
    img( src="http://placehold.it/350x300", class="example-image")
    div(class="description") Description Here

  div(class="img")
    a(target="_blank", href="http://placehold.it/350x300")
    img( src="http://placehold.it/350x300", class="example-image")
    div(class="description") Description Here

  div(class="img")
    a(target="_blank", href="http://placehold.it/350x300")
    img( src="http://placehold.it/350x300", class="example-image")
    div(class="description") Description Here
