extends layout

block content
  .row#vertcenter
    .col-md-10.col-md-offset-1
      .col-md-6
        img#original(src="./images/loading.gif")
      .col-md-6
        img#filtered(src="./images/loading.gif")