extends layout

block content
  .row
    .col-md-8.col-md-offset-2
      h1= title
      h3.subtitle Make a simple photo into a true work of art.
    
  .row#blue
    .col-md-8.col-md-offset-2
      .col-sm-4
        i.material-icons backup
      .col-sm-8
        input#upload(type="file", name="uploads[]" multiple="multiple")
        button#upload-btn.btn.btn-primary.btn-large(type="button") Select File
        button#upload-submit.btn.btn-primary.btn-large(type="button") Transform
        .col-md-6
          p#fileselected.text-center
        .col-md-6
          #transformation.form-group
            label(for="sel1") Select List:
            select.form-control#sel1
              option Starry Night
              option Scream
              option Mona Lisa
              option The Great Wave


block scripts

  script(src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js")
  script(src="/javascripts/firebase.js")
  script(src="./javascripts/upload.js")