extends layout

block content
  .row.offset-bottom
    .col-md-8.col-md-offset-2
      p
        img.left(src="./images/paint.png")
      h3.subtitle Turn a simple photo into a true work of art.
    
  .row.blue.pin
    .col-md-8.col-md-offset-2
      input#upload(type="file", name="uploads[]" multiple="multiple")
      .col-lg-6
        #upload
          button#upload-btn.btn.btn-primary.btn-large(type="button") Select File
            p#fileselected.text-center
            .alert.alert-danger#exist.hidden Please upload a valid file.
        #upload-submit
          button#upload-submit.btn.btn-primary.btn-large(type="button") Transform
      .col-lg-6
        #img-preview.btn-primary
          #transformation.form-group
            label(for="sel1") Select List:
            select.form-control#sel1
              option Composition VII
              option Cubist
              option Feathers
              option Mosaic
              option La Muse
              option The Scream
              option Udnie
              option Wave
          #sample

  script(src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js")
  script(src="https://code.jquery.com/jquery-2.2.4.min.js")
  script(src="/javascripts/firebase.js")
  script(src="./javascripts/script.js")
  script(src="./javascripts/upload.js")