extends layout

block content
  h1= title
  p Welcome to #{title}

    form
      input#upload(type="file", name="uploads[]" multiple="multiple")
      .alert.alert-danger.hidden(role="alert") Please upload a photo.
      button#upload-btn(type="button") Upload

block scripts

  script(src="./javascripts/upload.js")