extends layout

block content
  .row#title
    .col-md-8.col-md-offset-2
      h1= title
      h3.subtitle Make a simple photo into a true work of art.
    
  .row#submission
    .col-md-8.col-md-offset-2
      .row
        i.material-icons backup
      .row
        input#upload(type="file", name="uploads[]" multiple="multiple")
        button#upload-btn.btn.btn-primary.btn-large(type="button") Select File
        button#upload-submit.btn.btn-primary.btn-large(type="button") Upload
        .alert.alert-danger.hidden(role="alert") Please upload a photo.

block scripts

  script(src="./javascripts/upload.js")