body{
  text-align: center;
  height: 100vh;
  overflow-x: hidden;
}

h1, h2, nav{
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
}

h1{
  padding: 40px 40px 0px 40px;
  text-align: left;
  font-size: 6.5em;
}

h2, nav{ 
  text-transform: uppercase;
}

h2{
  font-size: 4em;
}

p{
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: left;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

h3.subtitle{
  text-align: left;
  padding-left: 40px;
  font-size: 2em;
}

nav.navbar.navbar-default{
  background-color: #4d4d4d;
  border-color: transparent;
}

button.navbar-toggle{
  background-color: #ddd;
}

.navbar-default div.navbar-collapse
{
    border-top:none;
    box-shadow:none;
}

.navbar-default .navbar-brand, .nav.navbar-nav.navbar-right li a,
.navbar-default .navbar-brand, .nav.navbar-nav.navbar-right li a:visited{
  color: #eeeeee;
}

.navbar-default .navbar-brand:hover, .nav.navbar-nav.navbar-right li a:hover {
  color: #cccccc;
}

div.container{
  margin-top: -102px;  
  height: 100%;
}

input#upload{
  display: none;
}

.description{
  padding-bottom: 10px;
  font-size: 1.5em;
}

div.blue{
  background-color: #b3ffff;
  width: 100vw;
  padding-top: 0;
}

.btn.btn-primary.btn-large,
.btn.btn-primary.btn-large:visited{
  border-radius: 0;
  font-size: 2em;
  width:100%;
}

.btn.btn-primary.btn-large, #img-preview{
  margin: 10px 0 10px 0;
  padding: 20px 0 20px 0;
  box-shadow: 2px 2px #333333;
  color: white;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

a#download > .btn{
  height: 100px;
}

#img-preview{
  padding: 30px;
}

i.material-icons{
  font-size: 10em;
  color: #4d4d4d;
  top: 50%;
}

.row > div{
  padding: 20px;
}

@media(max-width: 767px){
  .navbar-default .navbar-nav > li.active > a, 
  .navbar-default .navbar-nav > li.active > a:hover,
  .navbar-default .navbar-nav > li.active > a:visited{
    background-color: #999999;
  }

  h1{
    padding-top: 0px;
  }
}

@media (min-width: 768px){
  .navbar{
    min-height: 50px;
  }

  .navbar-nav > li > a{
    line-height: 50px;
  }

  .row{
    padding: 0 30px 30px 30px;
  }

  .navbar-default .navbar-nav > li.active > a, 
  .navbar-default .navbar-nav > li.active > a:hover,
  .navbar-default .navbar-nav > li.active > a:visited{
    background-color: #4d4d4d;
    border-bottom: 5px solid #00ffff;
    margin-bottom: -5px;
    padding-bottom: 10px;
  }
}

@media (min-height: 889px){
  .pin{
    position: fixed;
    bottom: 0;
  }
}

@media (max-width:1199px){
  .lefts, .right{
    text-align: center;
  }
}

@media (min-width:1200px){
    .btn.btn-primary{
    height: 157px;
  }

  .lefts{
    text-align: right;
  }

  .right{
    text-aligh: left;
  }
}

.no-bottom{
  padding-bottom: 0px;
}

.no-top{
  margin-top: 0px;
}

.img-circle {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: solid 15px grey;
  margin-bottom: 20px;
}

a > p {
  font-size: 2em;
}

a > p.small{
  font-size: 1.25em;
}

h3.nospacing{
  margin: 0px;
  margin-bottom: -15px;
}

.row#vertcenter{
  /* margin-top: 15vh; */
}

.row#vertcenter > div > div {
  padding: 60px 20px 60px 20px;
}

.image {
  max-width: 100%;
}

.red{
  color: red;
}

div#sample{
  height: 200px;
}

.no-gutter{
  padding-left: 0px;
  padding-right: 0px;
}

.img-responsive{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.offset-bottom{
  padding-bottom: 60px;
}

p#fileselected, .alert{
  padding: 0;
  margin: 0 20px 0 20px;
  text-transform: none;
  font-size: 0.5em;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  white-space: normal;
}

.hidden{
  display:;
}

.left{
  padding-left: 40px;
}

.centered{
  padding: 15vh 100px 0 100px;
}

#imgerror{
  font-size: 2em;
}